<%= render partial: 'users/shared/header' %>
<div class="flex flex-col  p-4 pt-32 bg-slate-400 min-h-screen">

  <div class="flex flex-col m-auto items-center">
    <img src="<%= @user.photo %>" alt="User photo" class="w-32 mb-2">
    <div class="flex items-center">
      <h2 class="font-bold"><%= @user.name %></h2>
      <% if user_signed_in? && current_user == @user %>
      <%= link_to "| Edit My Account", edit_user_path(@user), class: 'font-bold ml-2' %>
      <% end %>
    </div>
    <p>Posts: <%= @user.posts.count %></p>
    <p><%= @user.bio %></p>
  </div>

  <% @user.recent_posts.each do |post| %>
    <div class="bg-white p-4 m-2 rounded-lg shadow-lg shadow-indigo-500/40">
      <h3 class="font-bold"><%= link_to post.title, user_post_path(@user, post) %></h3>

      <p><%= post.text.truncate(100) %>... <a href="<%= user_post_path(@user, post) %>">Read more</a></p>
        
      <div class="flex items-center gap-2">
        <%= image_tag("icons/comment", alt: "comment icon", width: 30, height: 30) %>
        <span class="ml-1"><%= post.comments.count %></span>
      
        <%= image_tag("icons/like", alt: "like icon", width: 30, height: 30) %>
        <span class="ml-1"><%= post.likes.count %></span>
      </div>

    </div>

  <% end %>  
  
  <div class="flex flex-row justify-around w-full font-bold mt-4">

    <%= link_to 'See all posts', user_posts_path(@user), class: 'button' %>

    <% if user_signed_in? && current_user == @user %>
      <%= link_to "Create A New Post", new_user_post_path(current_user), class: 'button' %>
    <% end %>

  </div>

    <%= link_to users_path, class: 'm-auto mt-4' do %>
      <%= image_tag("icons/back", alt: "Back icon", width: 35, height: 35) %>
    <% end %>

</div>
<%= render partial: 'users/shared/footer' %>