<%= render partial: 'users/shared/header' %>
<div class="flex flex-col p-4 pt-32 bg-slate-400 min-h-screen">

  <div class="flex flex-col m-auto items-center">
    <img src="<%= @user.photo %>" alt="User photo", class="w-32">
    <h2 class="font-bold"><%= @user.name %></h2>
    <p>Posts: <%= @user.posts.count %></p>
  </div>
 

  <% @posts.each do |post| %>
    <div class="bg-white p-4 m-2 rounded-lg shadow-lg shadow-indigo-500/40">
      <h2 class="font-bold"><%= link_to post.title, user_post_path(@user, post) %></h2>
      <p><%= post.text %></p>
      <div class="flex items-center gap-2">
        <%= image_tag("icons/comment", alt: "comment icon", width: 30, height: 30) %>
        <span class="ml-1"><%= post.comments.count %></span>
      
        <%= image_tag("icons/like", alt: "like icon", width: 30, height: 30) %>
        <span class="ml-1"><%= post.likes.count %></span>
      </div>
    </div>
  <% end %>

  <%= link_to user_path(current_user), class: 'm-auto mt-4' do %>
    <%= image_tag("icons/back", alt: "Back icon", width: 35, height: 35) %>
  <% end %>

</div>
<%= render partial: 'users/shared/footer' %>